@charset "UTF-8";

body {
	width: 1440px;
	margin:0 auto;
}

header {
	background-image: url("IMG/construction-blueprints.jpg");
	height: 250px;
}


section {
	border-style: solid;
	border-width: 2px;
	border-color: black;
	padding-left: 5px;
}

nav {
	background-color: #A9BBC1;
	margin-top: 1px;
	text-align: center;
	border: 2px solid black;

}

li {
	display: inline;
	font-size: 20px;
	margin-left: 15px;
	margin-right: 15px;
	text-align: center;

}

li a {
	color: white;
}

img.center {
	display: block;
	margin: 0 auto;
}

.banner {
	text-align: center;
	background-color: #33A0C5;
	color: white;
}

.contactInfo label {
	width: 100px;
	float: left;

}

.contactInfo input {
	background-color: #F7EEEE;
}

.textBox {
	width: 400px;
	height: 200px;
}




